@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 2px;
    height: 3px;
  }

  ::-webkit-scrollbar-track {
    opacity: 0.5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #b1afaf;
  }